doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel="stylesheet", href="./stylesheets/css/bootstrap.min.css")
    link(rel='stylesheet', href='./stylesheets/header.css')
    link(rel='stylesheet', href='./stylesheets/index.css')
    script(src='./javascripts/jquery-2.1.4.min.js')
    script(src='./javascripts/backTop.js')
    script(src='./javascripts/bootstrap.js')
    title 首页
  body
    // 头部 start
    .adverse
      a(href='#', target='_blank')
        img(src='images/index/top-ads.jpg', width='1200px', height='60px', alt='')
      .close
    // 头部 end
    .header
      .header-logo
        img.h-logo(src='images/header/logo.png', alt='')
      .header-nav
        .header-location
          img.location-icon(src='images/header/city.png', alt='')
          span.location-city 全国
          img.list-icon(src='images/header/arrow.png', alt='')
          .header-list
            .header-city
              .now-city
                span.title-city 当前城市：
                span.select-city 全国
              .hot-city
                span.title-city 热门城市：
                .list-other
                  span.city-name 全国
                  span.city-name 北京
                  span.city-name 上海
                  span.city-name 深圳
                  span.city-name 广州
                  span.city-name 杭州
                  span.city-name 天津
                  span.city-name 重庆
                  span.city-name 成都
                  span.city-name 香港
              .other-city
              span.title-city 其他城市:
              .list-other
                span.city-name 北京
                span.city-name 上海
                span.city-name 深圳
                span.city-name 天津
                span.city-name 成都
                span.city-name 杭州
                span.city-name 广州
                span.city-name 南京
                span.city-name 重庆
                span.city-name 武汉
                span.city-name 西安
                span.city-name 苏州
                span.city-name 长沙
                span.city-name 昆明
                span.city-name 贵阳
                span.city-name 大连
                span.city-name 宁波
                span.city-name 合肥
                span.city-name 长春
                span.city-name 厦门
                span.city-name 香港
                span.city-name 济南
                span.city-name 石家庄
                span.city-name 无锡
                span.city-name 哈尔滨
                span.city-name 南昌
                span.city-name 嘉兴
                span.city-name 沈阳
                span.city-name 福州
                span.city-name 郑州
                span.city-name 佛山
                span.city-name 常州
                span.city-name 太原
                span.city-name 包头
                span.city-name 东莞
                span.city-name 南宁
                span.city-name 中山
                span.city-name 绍兴
                span.city-name 海口
                span.city-name 呼和浩特
                span.city-name 兰州
                span.city-name 潍坊
                span.city-name 澳门
                span.city-name 银川
                span.city-name 珠海
                span.city-name 惠州
                span.city-name 扬州
                span.city-name 宜昌
                span.city-name 河源
                span.city-name 唐山
                span.city-name 江门
                span.city-name 金华
                span.city-name 台州
                span.city-name 绵阳
                span.city-name 泉州
                span.city-name 南通
                span.city-name 萍乡
                span.city-name 桂林
                span.city-name 吉林
                span.city-name 洛阳
                span.city-name 马鞍山
                span.city-name 内江
                span.city-name 乌鲁木齐
                span.city-name 芜湖
                span.city-name 株洲
                span.city-name 淄博
                span.city-name 安顺
                span.city-name 德州
                span.city-name 乐山
                span.city-name 盘锦
                span.city-name 黔南
                span.city-name 汕头
                span.city-name 遂宁
                span.city-name 泰安
                span.city-name 温州
                span.city-name 咸阳
                span.city-name 玉溪
                span.city-name 遵义
                span.city-name 阿坝
                span.city-name 安庆
                span.city-name 蚌埠
                span.city-name 昌吉
                span.city-name 大同
                span.city-name 丹东
                span.city-name 德阳
                span.city-name 鄂尔多斯
                span.city-name 防城港
                span.city-name 赣州
                span.city-name 广元
                span.city-name 海东
                span.city-name 邯郸
                span.city-name 湖州
                span.city-name 嘉峪关
                span.city-name 焦作
                span.city-name 锦州
                span.city-name 晋中
                span.city-name 荆州
                span.city-name 九江
                span.city-name 酒泉
                span.city-name 廊坊
                span.city-name 丽江
                span.city-name 丽水
                span.city-name 连云港
                span.city-name 牡丹江
                span.city-name 平顶山
                span.city-name 黔东南
                span.city-name 钦州
                span.city-name 上饶
                span.city-name 铜陵
                span.city-name 梧州
                span.city-name 西宁
                span.city-name 咸宁
                span.city-name 襄阳
                span.city-name 湘潭
                span.city-name 新乡
                span.city-name 新余
                span.city-name 邢台
                span.city-name 徐州
                span.city-name 宜宾
                span.city-name 益阳
                span.city-name 榆林
                span.city-name 玉林
                span.city-name 湛江
                span.city-name 镇江
                span.city-name 舟山
                span.city-name 资阳
                span.city-name 亳州
                span.city-name 泸州
                span.city-name 海外
        .nav
          a.nav-left(href='') 首页
          a.nav-right(href='') 分类
      .header-search
        img.search-icon(src='images/header/search.png', alt='')
        input.search-input(type='text', placeholder='搜索明星、演出、体育赛事')
        .search-btn 搜索
      .header-right
        .login
          .login_title
            img.login-img(src='images/header/login.png', alt='')
            if(account)
              span #{account}
            else  
              span 登录
          .login-wrap
            p
            .login-list
              a.login-li(href=`${account?"/userInfo?account="+account:"/login"}`) 个人信息
              a.login-li(href='') 账号设置
              a.login-li(href='') 订单管理
        .download
          img.download-img(src='images/header/download.png', alt='')
          span 下载
          .download-mode
            img.mode-img(src='images/header/f-icon.png', alt='')
        .English
          img.English-img(src='images/header/english.png', alt='')
          span English
    // 主体部分 start
    .content
      // 轮播 start
      #slider(class="carousel slider")&attributes({"data-ride":"carousel"})
        ol.carousel-indicators
          li.active&attributes({"data-target":"#slider","data-slide-to":"0"})
          li&attributes({"data-target":"#slider","data-slide-to":"1"})
          li&attributes({"data-target":"#slider","data-slide-to":"2"})
          li&attributes({"data-target":"#slider","data-slide-to":"3"})
          li&attributes({"data-target":"#slider","data-slide-to":"4"})
          li&attributes({"data-target":"#slider","data-slide-to":"5"})
          li&attributes({"data-target":"#slider","data-slide-to":"6"})
          li&attributes({"data-target":"#slider","data-slide-to":"7"})
        .carousel-inner
          .item.active
            img.sliderImg&attributes({"src": "./images/index/slider1.jpg"})
          .item
            img.sliderImg&attributes({"src": "./images/index/slider2.jpg"})
          .item
            img.sliderImg&attributes({"src": "./images/index/slider3.jpg"})
          .item
            img.sliderImg&attributes({"src": "./images/index/slider4.jpg"})
          .item
            img.sliderImg&attributes({"src": "./images/index/slider5.gif"}) 
          .item
            img.sliderImg&attributes({"src": "./images/index/slider6.jpg"}) 
          .item
            img.sliderImg&attributes({"src": "./images/index/slider7.jpg"}) 
          .item
            img.sliderImg&attributes({"src": "./images/index/slider8.jpg"})     
          a(href="#slider", class="carousel-control left", data-slide="prev")
            span.glyphicon.glyphicon-chevron-left
          a(href="#slider", class="carousel-control right", data-slide="next")
            span.glyphicon.glyphicon-chevron-right
      // 轮播 end
      .category.w1200
        a(href='/search?type=concert')
          p.category__icon.icon-1
          p 演唱会
        a(href='/search?type=opera')
          p.category__icon.icon-2
          p 话剧歌剧
        a(href='/search?type=match')
          p.category__icon.icon-3
          p 体育赛事
        a(href='/search?type=family')
          p.category__icon.icon-4
          p 儿童亲子
        a(href='#')
          p.category__icon.icon-5
          p 度假休闲
        a(href='#')
          p.category__icon.icon-6
          p 音乐会
        a(href='#')
          p.category__icon.icon-7
          p 曲苑杂坛
        a(href='#')
          p.category__icon.icon-8
          p 舞蹈芭蕾
        a(href='#')
          p.category__icon.icon-9
          p 动漫
        a(href='#')
          p.category__icon.icon-10
          p 旅游展览
    .concert.w1200
      .box-top
        span.header-title 演唱会
        a(href='/search?type=concert') 查看全部   
      .box_content  
        .c-left-img
          a.box-bottom(href='#')
            img.c-left-bg(src=special[0].imageUrl, alt='')
            .bg-left-detail
              p.big-info #{special[0].name}
              p.big-price ￥#{special[0].price}起
        .c-right-info
          .crinfo_line
            each concerts,index in concert
              if(index >0 && index <4)
                a(href='#')
                  .itemimg
                    img(src=concerts.imageUrl, alt='')
                  .iteminfo
                    .title(title=special[0].name) #{concerts.name}
                    .venue #{concerts.address}
                    .showtime #{concerts.showTime}
                    .price ￥#{concerts.price}起
          .crinfo_line.second
            each concerts,index in concert
              if(index >3 && index <7)
                a(href='#')
                  .itemimg
                    img(src=concerts.imageUrl, alt='')
                  .iteminfo
                    .title #{concerts.name}
                    .venue #{concerts.address}
                    .showtime #{concerts.showTime}
                    .price ￥#{concerts.price}起        
    .drama.w1200
      .box-top
        span.header-title 戏剧歌剧
        a(href='/search?type=opera') 查看全部
      .box_content   
        .c-left-img
          a.box-bottom(href='#')
            img.c-left-bg(src=special[1].imageUrl, alt='')
            .bg-left-detail
              p.big-info #{special[1].name}
              p.big-price ￥#{special[1].price}起
        // 右边
        .c-right-info
          .crinfo_line
            each operas,index in opera
              if(index >0 && index <4)
                a(href='#')
                  .itemimg
                    img(src=operas.imageUrl, alt='')
                  .iteminfo
                    .title(title=special[0].name) #{operas.name}
                    .venue #{operas.address}
                    .showtime #{operas.showTime}
                    .price ￥#{operas.price}起
          .crinfo_line.second
            each operas,index in opera
              if(index >3 && index <7)
                a(href='#')
                  .itemimg
                    img(src=operas.imageUrl, alt='')
                  .iteminfo
                    .title #{operas.name}
                    .venue #{operas.address}
                    .showtime #{operas.showTime}
                    .price ￥#{operas.price}起   
    .games.w1200
      .box-top
        span.header-title 体育比赛
        a(href='/search?type=match') 查看全部
      .box_content   
        .c-left-img
          a.box-bottom(href='#')
            img.c-left-bg(src=special[2].imageUrl, alt='')
            .bg-left-detail
              p.big-info #{special[2].name}
              p.big-price ￥#{special[2].price}起
        // 右边
        .c-right-info
          .crinfo_line
            each matches,index in match
              if(index >0 && index <4)
                a(href='#')
                  .itemimg
                    img(src=matches.imageUrl, alt='')
                  .iteminfo
                    .title(title=special[0].name) #{matches.name}
                    .venue #{matches.address}
                    .showtime #{matches.showTime}
                    .price ￥#{matches.price}起
          .crinfo_line.second
            each matches,index in match
              if(index >3 && index <7)
                a(href='#')
                  .itemimg
                    img(src=matches.imageUrl, alt='')
                  .iteminfo
                    .title #{matches.name}
                    .venue #{matches.address}
                    .showtime #{matches.showTime}
                    .price ￥#{matches.price}起   
    .children.w1200
      .box-top
        span.header-title 儿童亲子
        a(href='/search?type=family') 查看全部
      .box_content   
        .c-left-img
          a.box-bottom(href='#')
            img.c-left-bg(src=special[3].imageUrl, alt='')
            .bg-left-detail
              p.big-info #{special[3].name}
              p.big-price ￥#{special[3].price}起
        // 右边
        .c-right-info
          .crinfo_line
            each familys,index in family
              if(index >0 && index <4)
                a(href='#')
                  .itemimg
                    img(src=familys.imageUrl, alt='')
                  .iteminfo
                    .title(title=special[0].name) #{familys.name}
                    .venue #{familys.address}
                    .showtime #{familys.showTime}
                    .price ￥#{familys.price}起
          .crinfo_line.second
            each familys,index in family
              if(index >3 && index <7)
                a(href='#')
                  .itemimg
                    img(src=familys.imageUrl, alt='')
                  .iteminfo
                    .title #{familys.name}
                    .venue #{familys.address}
                    .showtime #{familys.showTime}
                    .price ￥#{familys.price}起   
    .sidebar
      .item
        a(href='#')
          .icon.service
          p 在线客服
      .item
        a(href='#')
          .icon.damai
          p APP下载
      .item#backTop
        a(href='javascripts:;')
          .icon.J_GoTop
          p 回到顶部
    // 主体部分 end
    .footer
      .footer-links
        ul.links
          li
            a(href='') 帮助中心
          li |
          li
            a(href='') 公司介绍
          li |
          li
            a(href='') 品牌识别
          li |
          li
            a(href='') 公司大事记
          li |
          li
            a(href='') 隐私权专项政策
          li |
          li
            a(href='') 廉政举报
          li |
          li
            a(href='') 联系合作
          li |
          li
            a(href='') 招聘信息
          li |
          li
            a(href='') 防骗秘籍
      .footer-band
        .footer-left
          a(href='')
            img(src='./images/header/f-logo.png', alt='')
          .footer-left-2
            img(src='./images/header/f-icon.png', alt='')
            span APP下载
        .footer-right
          .footer-btn
            a(href='') 在线客服
          ul.footer-right-links
            li
              a(href='') 京ICP证031057号
            li.footer-right-dep |
            li
              a(href='') 京ICP备11043884号
            li.footer-right-dep |
            li
              a(href='') 京公网安备11010102000430号
            li.footer-right-dep |
            li
              a(href='')
                | 广播电视节目制作经营许可证
                | (京)字第02253号
          ul.footer-right-links
            li
              a(href='')
                | 网络文化经营许可证
                | 京网文[2016]3438-413号
            li.footer-right-dep |
            li
              a(href='')
                | 营业性演出许可证
                | 京市演587号
          ul.footer-right-links
            li
              span 北京红马传媒文化发展有限公司 版权所有
            li
              a(href='') 大麦网
            li
              span Copyright 2003-2018 All Rights Reserved
          .footer-img
            a(href='')
              img.f-img-1(src='./images/header/f1.gif', alt='')
            a(href='')
              img.f-img-2(src='./images/header/f2.png', alt='')
            a(href='')
              img.f-img-3(src='./images/header/f3.png', alt='')
            a(href='')
              img.f-img-4(src='./images/header/f4.png', alt='')
            a(href='')
              img.f-img-5(src='./images/header/f5.png', alt='')         
